*Figure 9. Teaching Team's Final Verification Table*
![un 3](https://github.com/Team-310/Team-310.github.io/assets/157058267/c7d42c70-2ca9-4e6d-9d80-32d0a39e5a08)

The team managed to verify every connection within the final system, including communication between the microcontroller and the ESP32 to Wi-Fi.
